* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white:#FFFFFF;
  --white-300:#F8F8F8;
  --gray-400:#BBBBBB;
  --pink-500:#FF57B2;
  --black-900:#1A1D23;
}

button{
  cursor:pointer;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 900;
  margin-top: 2.5rem;
}