.container {
    background-color: var(--black-900);

    img {
        width: 1400px;
        height: 400px;
    }

    .dataAuthor {
        
        display:flex;
        flex-direction: row;
        margin-top: 2rem;
    }

    .date{
       
        time {
            
            margin-left: 0.2rem;
        }
    }

    .author {
        margin-left: 1rem;
        span {
            text-transform: capitalize;
            margin-left: 0.2rem;
        }
    }

}
